# SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.marginalia

# PHP tooling
vendor
.php_cs.cache
.php-cs-fixer.cache

build/
coverage/
*.orig

# We do not ship the Roboto font files (only needed for Playwright) - but we need to ship the other font files
css/fonts/roboto-*
js/*roboto*

# Playwright files
playwright-report/
test-results/
blob-report/
playwright/.cache/

# RelativeCI webpack bundle stats
webpack-stats.json
